
@{
    ViewData["Title"] = "Form";
}

@model Mission_4.Models.FormResponse

<div class="d-flex justify-content-center">
    <h1>Enter a New Movie</h1>
 </div>
<br />
<div class="d-flex justify-content-center">
    <form method="post">
        <div class="text-danger font-weight-bold bg-light" asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Title">Movie Title: </label>
            <input asp-for="Title"/>
            <br />
        </div>
        <div class="form-group">
            <label asp-for="Year">Year:</label>
            <input asp-for="Year"/>
            <br />
        </div>
        <div class="form-group">
            <label asp-for="Director">Director:</label>
            <input asp-for="Director" />
            <br />
        </div>
        <div class="form-group">
            <label asp-for="CategoryId">Category:</label>
            <select asp-for="CategoryId">
                <option value="">Select Movie Category</option>
                @foreach (Category c in ViewBag.CategoryEntry)
                {
                    <option value="@c.CategoryID ">@c.CategoryName</option>
                }

            </select>
            <br />
        </div>
        <div class="form-group">
            <label asp-for="Rating">MPAA Rating:</label>
            <select asp-for="Rating">
                <option value="NR">NR</option>
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG13">PG-13</option>
                <option value="R">R</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label asp-for="Edited">Is this an Edited Version:</label>
            <select asp-for="Edited">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
            <br />
        </div>
        <div class="form-group">
            <label asp-for="LentTo">Lent movie to:</label>
            <input asp-for="LentTo" />
            <br />
        </div>
        <div class="form-group">
            <label asp-for="Notes">Additional Notes:</label>
            <input asp-for="Notes" maxlength="25" />
            <br />
        </div>


        <button type="submit" class="btn btn-outline-light btn-large">Submit Movie</button>
    </form>
</div>