@{
    ViewData["Title"] = "My Podcasts";
}


<div class="d-flex justify-content-center">
    <h1>My Podcast</h1>
</div>
    <br />
<div class="px-lg-5 d-flex flex-wrap">
    <h4>    In case you didn't know I own a podcast and am very famous. I dream one day I will make millions off of this podcast. But dreams are dreams. If you are interested in hearing what I have to say please follow the link below.</h4>
</div>
    <br />
<div class="d-flex justify-content-center">
    <a href="https://baconsale.com/" class="btn btn-outline-light btn-large">My Podcast</a>
</div>